* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1148px;
  height: 520px;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

.box {
  background-color: white;
  width: 796px;
  height: 403px;
  margin-left: 205px;
  border-radius: 12px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.img-computer {
  margin-right: 377px;
}

.title {
  margin-top: -424px;
  margin-left: 676px;
}
.question {
  margin-left: 640px;
  margin-top: 17px;
}
.answer {
  margin-left: 644px;
  margin-top: 8px;
  color: #4b4c5f;
}

.question2 {
  margin-left: 640px;
  margin-top: 12px;
}

.answer2 {
  margin-left: 642px;
  color: #787887;
  margin-top: 7px;
}
.question3 {
  margin-left: 640px;
  margin-top: 11px;
}

.answer3 {
  margin-left: 640px;
  margin-top: 4px;
  color: #787887;
}

.question4 {
  margin-left: 640px;
  margin-top: 11px;
}

.answer4 {
  margin-left: 640px;
  color: #787887;
  margin-top: 11px;
}

.question5 {
  margin-left: 633px;
  margin-top: 11px;
}

.answer5 {
  margin-left: 636px;
  margin-top: 11px;
  color: #787887;
}
